* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  height: 100%;
  min-height: 100dvh;
  overflow-x: hidden;
}

body {
  font-family: 'Roboto', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}
